In [1]:
import os
import sys
import subprocess

import numpy as np
import pandas as pd

from io import StringIO

In [2]:
skempi_df = pd.read_csv(os.path.join('data', 'SKEMPI_1.1.csv'), sep=';')
skempi_df.head(4)

,Protein,Mutation(s)_PDB,Mutation(s)_cleaned,Location(s),Hold_out_type,Hold_out_proteins,Affinity_mut (M),Affinity_wt (M),Reference,Protein 1,...,Temperature,kon_mut (M^(-1)s^(-1)),kon_wt (M^(-1)s^(-1)),koff_mut (s^(-1)),koff_wt (s^(-1)),dH_mut (kcal mol^(-1)),dH_wt (kcal mol^(-1)),dS_mut (cal mol^(-1) K^(-1)),dS_wt (cal mol^(-1) K^(-1)),Notes
0,1CSE_E_I,LI45G,LI38G,COR,PI,PI,5.260000e-11,1.120000e-12,9048543,Subtilisin Carlsberg,...,294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1CSE_E_I,LI45S,LI38S,COR,PI,PI,8.330000e-12,1.120000e-12,9048543,Subtilisin Carlsberg,...,294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1CSE_E_I,LI45P,LI38P,COR,PI,PI,1.020000e-07,1.120000e-12,9048543,Subtilisin Carlsberg,...,294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1CSE_E_I,LI45I,LI38I,COR,PI,PI,1.720000e-10,1.120000e-12,9048543,Subtilisin Carlsberg,...,294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
lim = None
pdbs = set(skempi_df[:lim]["Protein"])
n = len(pdbs) 
for i, protein in enumerate(pdbs):
    pdb, chainA, chainB = protein.split('_')
    cline = "python2 stride.py %s %s %s" % (pdb, chainA, chainB)
    assert os.WEXITSTATUS(os.system(cline)) == 0
    sys.stdout.write("\r{0:.0f}%".format(100.0 * i/n))

99%

In [4]:
pd.read_csv('data/stride/1Y4A.out').head()

    AA    ASA Chain     Phi     Psi  Res SS  ASA_Chain
0  ALA  120.6     E  360.00  136.38    1  C      120.6
1  GLN   53.5     E  -97.26  142.85    2  C       53.5
2  SER   62.2     E -120.15  147.53    3  B       62.2
3  VAL   65.5     E -100.05  110.29    4  C       65.5
4  PRO   15.6     E  -57.08  146.89    5  C       15.6

In [6]:
df = pd.read_csv('data/stride/1Y4A.out')
df.loc[df["ASA"]!=df["ASA_Chain"],].head()

     AA    ASA Chain     Phi     Psi  Res SS  ASA_Chain
61  ASN   49.4     E -102.97  -49.90   62  T       52.2
62  SER   42.3     E  111.80  -25.08   63  T       44.3
63  HIS   10.8     E  -64.91  -47.05   64  H       46.1
95  LEU    0.0     E -115.81  143.01   96  C       13.4
98  ASP  101.5     E  -85.48    5.33   99  T      126.0

In [7]:
print(len(df), len(df.loc[df["ASA"]!=df["ASA_Chain"],]))

338 57